/* =================================
    Base Layout Styles
==================================*/

* {
    box-sizing: border-box;
}

p {
    width: 85%;
    text-align: center;
    margin: 0px auto;
    line-height: 1.6em;
    font-size: 20px;
}

.profile-text {
    margin-top: 15px;
    padding: 20px;
    line-height: 2em;
    font-weight: bold;
    font-size: 20px;
    color: lightslategray;
}

h2 {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 30px 0px 30px 0px;
}

/* ---- Navagation ---- */
.name {
    margin-top: 0;
    font-size:x-large;
    font-weight: bolder;
    text-align: center;
}

.name,
.main-nav li {
    font-weight: bolder;
    line-height: 15px;
    padding: 20px;
    letter-spacing: .3em;
    font-weight: bolder;
}

li {
    background-color: white;
    text-align: center;
    margin: 10px;
}

/* ---- Layout Containers ---- */

.main-header {
    background-color: rgb(248, 248, 248);
    padding: 1em;
}
.container {
    width: 90%;
    margin: 0 auto;
}

/* ----  ---- */

.portfolio {
    font-size: 18px;
    font-weight: bold;
    margin: 60px;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

.col {
    margin: 60px 0 0 0;
}

p:last-child {
    margin-bottom: 80px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/*==================================
    Footer & Bottom Nav
===================================*/
.footer {
    background-color: rgb(248, 248, 248);
    line-height: 1.5em;
    font-size: 20px;
    padding: 40px 0 0 0;
    width: 100%;
    content: "";
    clear: both;
    display: table;
    color: lightslategray;
}
}
.contact {
    margin: 0px 0 0px 0;
    padding: 0px 0 30px 0;
}
.phone {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    content: "";
    clear: both;
    display: table;
}
.email{
    margin: 0 auto;
    padding-bottom: 70px;
    text-align: center;
}
.medium-footer-nav {
    display: none;
}
.small-footer-nav {
    padding: 30px 0 0px 0;
    margin-bottom: 0px;
}

.student-name {
    float: left;
    width: 40%;
    max-height: 0px;
    white-space: nowrap;
    font-weight: bolder;
    color: black;
}
   .back-to-top {
    float: right;
    width: 40%;
    max-height: 0px;
    white-space: nowrap;
    font-weight: bolder;
    color: black;
}

hr {
    margin: 0 5% 0 5%;
}



/* =================================
    Media Queries
==================================*/

@media (min-width: 768px) {
    .main-header {
        padding-top: 35px;
    }
    .main-nav {
        margin: 0 auto;
        width: _px;
        text-align: center;
    }

    li {
        display: inline-block;
        background-color: rgb(248, 248, 248);
    }
    
    .container {
        width: 90%;
        margin: 0 auto;
        content: "";
        clear: both;
        display: table;
    }
    
    .portfolio {
        margin: 35px;
    }
    .profile-container {
        content: "";
        clear: both;
        display: table;
    }
    .col {
        width: 50%;
        float: left;
        padding: 10px;
        min-height: 420px;
      }
    .profile-text {
        float: left;
        width: 58%;
        text-align: justify;
        padding: 5px 25px;
        line-height: 2em;
        font-size: larger;
        font-weight: bolder;
        letter-spacing: 2px;
    }
    .profile-image {
        float: right;
        width: 42%;
    }
    .medium-footer-nav{
        display: inline;
        float: right;
        color: black;
        font-weight: bolder;
        margin: 0 2em 5em 0;
    }
    .student-name {
        margin: .5em 0 5em 2em;
        text-align: justify;
    }
    .back-to-top {
        display: none;
    }
    }

    @media (min-width: 1024px) {
        .col {
            width: 33%;
            float: left;
            padding: 10px;
            min-height: 420px;
          }
        .container {
            margin: 0 auto;
            width: 97%;
        }
        body {
         
        }
        .footer-text {
            width: 50%;
        }
        div.footer {
            margin-bottom: 5px;
        }
        p:last-child {
            margin-bottom: 0px;
        }
        .container {
            margin-bottom: 60px;
        }
        .portfolio {
            padding-top: 40px;
            padding-bottom: 0px;
        }
       .small-footer-nav {
            margin-bottom: -20px;
        }
    }