/* =================================
    Base Layout Styles
==================================*/

* {
    box-sizing: border-box;
}

p {
    width: 85%;
    text-align: center;
    margin: 20px auto;
}

.profile-text {
    padding-bottom: 20px;
}

h2 {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 30px 0px 10px 0px;
}

/* ---- Navagation ---- */
.name {
    margin-top: 0;
    font-size:x-large;
    font-weight: bolder;
    text-align: center;
}

.name,
.main-nav li {
    font-weight: bolder;
    line-height: 15px;
    padding: 10px;
}

li {
    background-color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 5px 15px 5px 15px;
}

/* ---- Layout Containers ---- */

.main-header {
    background-color: rgb(248, 248, 248);
    padding: 1em;
}
.container {
    width: 90%;
    margin: 0 auto;
}

/* ----  ---- */

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* =================================
    Media Queries
==================================*/

@media (min-width: 768px) {
 
    ul {
        display: block;
    }
   
    li { 
        display: inline-block;
        margin: 0 auto;
    }
    
    .container {
        width: 90%;
        margin: 0 auto;
        content: "";
        clear: both;
        display: table;
    }
    
    .portfolio {
        margin: 35px;
    }
    .profile-container {
        content: "";
        clear: both;
        display: table;
    }
    .col {
        width: 50%;
        float: left;
        padding: 10px;
        min-height: 420px;
      }
    .profile-text {
        float: left;
        width: 60%;
        text-align: justify;
        padding: 5px 25px;
        line-height: 2em;
        font-size: larger;
        font-weight: bolder;
        letter-spacing: 2px;
    }
    .profile-image {
        float: right;
        width: 40%;
    }
    }

    @media (min-width: 1024px) {
        .col {
            width: 33%;
            float: left;
            padding: 10px;
            min-height: 420px;
          }
    }